@using System.Text.Json;

@inject IJSRuntime JSRuntime
@inject Api apiService
@inject NavigationManager NavigationManager

@code {
    string IdToken;

    protected override async Task OnInitializedAsync()
    {
        IdToken = await ReadIdToken();
    }

    private async Task<string> ReadIdToken()
    {
        const string clientId = "your oidc client id";
        var userDataKey = apiService.GetUserDataKey();
        Console.WriteLine(userDataKey);

        var userData = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", userDataKey);
        // var user = await JSRuntime.InvokeAsync<UserData>("sessionStorage.getItem", userDataKey);
        // Console.WriteLine(userData);

        UserData? user = null;
        try
        {
            user = JsonSerializer.Deserialize<UserData>(userData);
        }
        catch (Exception ex)
        {
            user = new UserData { id_token = "Token", expires_at = 0 };
        }

        // return userData.id_token;
        return user.id_token;
    }

    class UserData
    {
        public string id_token { get; set; }
        public int expires_at { get; set; }
    }
}
@page "/"

<PageTitle>Home</PageTitle>

<h1>Exercise logging</h1>
Use the Exercise page to track you progress
