@page "/timeseries"
@using System.Text.Json
@using System.Net.Http.Headers
@using MudBlazor.Extensions
@using exerciselog.Services
@using MudBlazor
@using Microsoft.Extensions.Logging
@inject Api apiService
@inject IJSRuntime JS
@inject ILogger<Timeseries> Logger

<PageTitle>Timeseries</PageTitle>

<h1>Timeseries</h1>
<p>Log your time series</p>
@page "/example-form"

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.h6">Register timeseries entry</MudText>
            <MudForm>
                <!-- Full Name -->
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2">Time</MudText>
                    <MudDatePicker @bind-Date="@Date" Editable="true" Label="Select Date" />
                    <MudTimePicker @bind-Time="@selectedTime" Editable="true" Label="Select Time" />
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2">Dimension</MudText>
                    <MudSelect T="string" Label="Select dimension" @bind-Value="Ts.Dimension" Variant="Variant.Filled" Searchable="true">
                    @if (Dimensions != null)
                    {
                        @foreach (var Dimension in Dimensions)
                        {
                            <MudSelectItem Value="Dimension">@Dimension</MudSelectItem>
                        }
                    }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2">Value</MudText>
                    <MudTextField T="double" Label="Value" @bind-Value="Ts.Value">0.0</MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2">Tags</MudText>
                    <MudTextField T="string" Label="Tags" @bind-Value="Tags"></MudTextField>
                </MudItem>

                <!-- Submit Button -->
                <MudItem xs="12" Class="mt-4">
                    <MudButton @onclick="CreateTimeseries" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
                </MudItem>
            </MudForm>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    public TimeseriesDto Ts = new TimeseriesDto();
    public string Tags = "";
    public DateTime? Date = DateTime.Today;
    public TimeSpan? selectedTime = DateTime.UtcNow - DateTime.Today;
    private List<string> Dimensions = ["this", "that"];

    private async void CreateTimeseries()
    {
        var TimeStamp = Date + selectedTime;
        Ts.Timestamp = TimeStamp.HasValue
            ? TimeStamp.Value.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ")
            : "";
        await apiService.PostTimeseries(Ts);
    }

}
